form.property-search-filters {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 0;
    justify-content: space-around;

    .input-wrap {
        flex: 1 1 auto;
        margin-right: 6px;
        margin-bottom: 6px;

        &.input-wrap-text-search {
            width: calc(100% - 160px);

            @include mobile {
                width: calc(100% - 110px);
            }
        }

    }

    button {
        width: 100%;

        &:after {
            content: "\f347";
            font-family: 'dashicons';
            opacity: 0.5;
            top: 2px;
            font-size: 13px;
            display: inline-block;
            margin-left: 4px;
            position: relative;
            transition: .3s all ease;
        }

        &.active,
        &:focus {
            color: $dark;
            border-color: $dark;
            transition: .3s all ease;
        }

        &:focus {
            &:after {
                transform: rotate(180deg);
                color: $dark;
                opacity: 1;
                top: 0;
            }
        }
    }

    button,
    a.reset {
        border: 2px solid rgba($default, 0.2);
        padding: 14px 14px;
        background-color: white;
        border-radius: 3px;
        line-height: 1em;
        color: $default;
        outline: none;
        text-decoration: none;
        background-color: $light;
        font-size: 16px;
    }

    button[type="reset"],
    a.reset {
        border: 1px solid transparent;
        background-color: transparent;
        outline: none !important;
        padding-left: 12px;
        padding-right: 12px;
        z-index: 20;
        position: relative;


    }

    a.reset {
        background-color: transparent;
        border-radius: 0;
        width: 120px;

        @include mobile {
            width: 100px;
        }
    }

    input[type="text"] {
        border-radius: 3px;
        border: 2px solid rgba($default, 0.2);
        color: $default;
        width: 100%;
        font-size: 16px;

        &::placeholder {
            color: $default;
        }

        &::-webkit-input-placeholder {
            color: $default;
        }

        &.active,
        &:focus {
            border-color: $dark;
            color: $dark;
        }
    }

    .dropdown {
        position: relative;

        .dropdown-menu {
            z-index: 40;
            position: absolute;
            width: 200px;
            background-color: $light;
            background-color: white;
            padding: 0;
            border: 2px solid rgba($default, 0.2);
            border-radius: 3px;
            margin-top: 6px;
            opacity: 0;
            transition: .3s all ease;
            transform: translateY(30px);
            pointer-events: none;

            .dropdown-menu-items {
                padding: 15px;
            }


            &.show {
                opacity: 1;
                transform: none;
                pointer-events: auto;
            }

            label {
                display: block;
                font-size: 16px;

                input[type="checkbox"] {
                    margin-right: 4px;
                }
            }

            .filter-application {
                padding: 5px 15px;
                border-top: 1px solid $light;
                display: flex;
                justify-content: space-between;
                font-size: 14px;

                a {
                    text-decoration: none;

                    &.clear {
                        color: $default;
                    }
                }
            }
        }
    }
}