form.property-search-filters {
    display: flex;
    padding: 20px 0;

    .input-wrap {
        flex-flow: 0 1 auto;
    }

    button,
    a.link-as-button {
        border: 2px solid rgba($default, 0.5);
        padding: 12px 25px;
        background-color: white;
        border-radius: 3px;
        line-height: 1em;
        margin-right: 6px;
        color: $default;
        outline: none;
        text-decoration: none;

        &.active {
            color: $dark;
            border-color: $dark;
        }
    }

    button[type="reset"],
    a.reset {
        border: 1px solid transparent;
        background-color: transparent;
        outline: none !important;
        padding-left: 12px;
        padding-right: 12px;
    }

    .dropdown {
        position: relative;
        z-index: 20;

        .dropdown-menu {
            position: absolute;
            width: 200px;
            background-color: white;
            padding: 0;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-top: 6px;
            opacity: 0;
            transition: .3s all ease;
            transform: translateY(30px);
            pointer-events: none;

            .dropdown-menu-items {
                padding: 15px;
            }


            &.show {
                opacity: 1;
                transform: none;
                pointer-events: auto;
            }

            label {
                display: block;

                input[type="checkbox"] {
                    margin-right: 4px;
                }
            }

            .filter-application {
                padding: 5px 15px;
                border-top: 1px solid $light;
                display: flex;
                justify-content: space-between;
                font-size: 14px;

                a {
                    text-decoration: none;

                    &.clear {
                        color: $default;
                    }
                }
            }
        }
    }
}