form.property-search-filters,
form.property-search-starter {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 0;
    justify-content: space-around;
    transition: .7s all ease;

    .price-slider-wrap {
        padding: 10px 20px 20px;
        width: 100%;
    }

    .input-wrap {
        flex: 1 1 auto;
        margin-right: 6px;
        margin-bottom: 6px;

        &:not(.input-wrap-text-search) {
            // max-width: 300px;

            @include mobile {
                max-width: 100%;
            }
        }

        &.input-wrap-text-search {
            width: calc(100% - 160px);

            @include mobile {
                width: calc(100% - 110px);
            }
        }

        &.incomplete {
            button[type="button"] {
                background-color: rgba(red, 0.05);
                border-color: rgba(red, 0.1);
            }
        }

        &.input-wrap-prices {
            .noUi-connect {
                background: $default;
            }

            .inputs-prices {
                display: flex;
                justify-content: space-between;

                input {
                    width: 48%;
                    border-radius: 3px;
                }


            }
        }

        &.input-wrap-date-available {
            max-width: 190px;

            .form-control {
                background-color: $light;
            }
        }

    }

    button {
        width: 100%;
        position: relative;
        min-height: 50px;

        &.dropdown-toggle {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding-right: 28px;
            text-align: left;

            &:after {
                content: "\f347";
                font-family: 'dashicons';
                opacity: 0.5;
                font-size: 13px;
                display: inline-block;
                top: 50%;
                transform: translateY(-50%);
                right: 14px;
                position: absolute;
                transition: .3s all ease;
            }

            &.active,
            &:focus {
                color: $dark;
                border-color: $dark;
                transition: .3s all ease;
            }

            &:focus {
                &:after {
                    transform: translateY(-50%) rotate(180deg);
                    color: $dark;
                    opacity: 1;
                }
            }
        }
    }

    button,
    a.reset {
        border: 2px solid rgba($default, 0.2);
        padding: 14px 14px;
        border-radius: 3px;
        line-height: 1em;
        color: $default;
        outline: none;
        text-decoration: none;
        background-color: $light;
        font-size: 16px;
    }

    button[type="reset"],
    a.reset {
        border: 1px solid transparent;
        background-color: transparent;
        outline: none !important;
        padding-left: 0;
        padding-right: 0;
        z-index: 20;
        position: relative;
        line-height: 1em;



    }

    a.reset {
        background-color: transparent;
        border-radius: 0;
        width: 120px;
        text-align: center;

        @include mobile {
            width: 100px;
        }
    }

    button[type="submit"] {
        background-color: $dark;
        color: white;
        border-color: $dark;
        cursor: pointer;

        &:hover {
            background-color: rgba($dark, 0.9);
        }
    }

    input[type="text"],
    input[type="number"] {
        border-radius: 3px;
        border: 2px solid rgba($default, 0.2);
        color: $default;
        width: 100%;
        min-height: 50px;
        padding-left: 15px;
        font-size: 16px;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0, 0%, 100%, 0)), to(hsla(0, 0%, 100%, 0)));
        background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));
        -webkit-appearance: none;

        &::placeholder {
            color: $default;
        }

        &::-webkit-input-placeholder {
            color: $default;
        }

        &.active,
        &:focus {
            border-color: $dark;
            color: $dark;
        }
    }

    .dropdown {
        position: relative;

        @include mobile {
            position: static;
        }

        .dropdown-menu {
            z-index: 40;
            position: absolute;
            max-width: 400px;
            left: 0;
            width: 400px;
            background-color: white;
            padding: 0;
            border: 2px solid rgba($default, 0.2);
            border-radius: 3px;
            margin-top: 6px;
            opacity: 0;
            transition: .3s all ease;
            transform: translateY(30px);
            pointer-events: none;

            @include mobile {
                width: 100%;
                max-width: calc(100% - 6px);
            }

            .dropdown-menu-items {
                padding: 15px;
                display: flex;
                flex-flow: row wrap;
                max-height: 175px;
                overflow-y: auto;

                label {
                    cursor: pointer;
                    width: 50%;
                }

                // input {
                //     display: none;
                // }

                // input~span {
                //     opacity: 0.7;
                // }

                // input:checked~span {
                //     font-weight: bold;
                //     opacity: 1;
                // }

            }

            &.dropdown-menu-propertytypes {
                @include desktop {
                    max-width: 200px;
                }

                .dropdown-menu-items {
                    label {
                        width: 100%;
                    }
                }
            }

            &.dropdown-menu-pets {
                width: 250px;
                right: 0;
                left: auto;

                .dropdown-menu-items {
                    label {
                        width: 100%;
                    }
                }
            }


            &.show {
                opacity: 1;
                transform: none;
                pointer-events: auto;
            }

            label {
                display: block;
                font-size: 16px;
                color: black;

                input[type="checkbox"],
                input[type="radio"] {
                    margin-right: 4px;
                }
            }

            .filter-application {
                padding: 5px 15px;
                border-top: 1px solid $light;
                display: flex;
                justify-content: space-between;
                font-size: 14px;

                a {
                    text-decoration: none;

                    &.clear {
                        color: $default;
                    }
                }
            }
        }
    }
}