body {
    .flatpickr-current-month select.flatpickr-monthDropdown-months:hover {
        background-color: white;
    }

    select.flatpickr-monthDropdown-months {
        min-height: 0px;
    }

    .flatpickr-current-month input.cur-year {
        min-height: 0;
    }

    .flatpickr-months .flatpickr-month {
        height: 44px;
    }

    .flatpickr-calendar {
        padding: 20px;
    }

    .flatpickr-day.today {
        background-color: $dark;
        color: white;
        border: none;
        box-shadow: none !important;
    }

    .flatpickr-day.selected,
    .flatpickr-day.startRange,
    .flatpickr-day.endRange,
    .flatpickr-day.selected.inRange,
    .flatpickr-day.startRange.inRange,
    .flatpickr-day.endRange.inRange,
    .flatpickr-day.selected:focus,
    .flatpickr-day.startRange:focus,
    .flatpickr-day.endRange:focus,
    .flatpickr-day.selected:hover,
    .flatpickr-day.startRange:hover,
    .flatpickr-day.endRange:hover,
    .flatpickr-day.selected.prevMonthDay,
    .flatpickr-day.startRange.prevMonthDay,
    .flatpickr-day.endRange.prevMonthDay,
    .flatpickr-day.selected.nextMonthDay,
    .flatpickr-day.startRange.nextMonthDay,
    .flatpickr-day.endRange.nextMonthDay {
        background-color: $default;
        border: none;
        box-shadow: none !important;
    }

    .flatpickr-day.selected.startRange,
    .flatpickr-day.startRange.startRange,
    .flatpickr-day.endRange.startRange,
    .flatpickr-day.selected.endRange,
    .flatpickr-day.startRange.endRange,
    .flatpickr-day.endRange.endRange {
        border-radius: 100%;
        box-shadow: none !important;
    }

    .flatpickr-day.inRange {
        border-radius: 100%;
        box-shadow: none !important;
    }

    .flatpickr-months .flatpickr-prev-month,
    .flatpickr-months .flatpickr-next-month {
        top: 18px;
    }

    .flatpickr-months .flatpickr-prev-month {
        left: 10px !important;
    }

    .flatpickr-months .flatpickr-next-month {
        right: 10px !important;
    }
}