body form.property-search-starter {
    padding: 15px 15px 11px;
    background-color: $light;
    border-radius: 3px;
    display: flex;

    @include notdesktop {
        flex-flow: row wrap;
    }

    .input-wrap {
        min-width: 0;
        max-width: 100%;

        @include desktop {
            width: 0%;
        }
    }

    .input-wrap.input-wrap-text-search {
        @include desktop {
            max-width: 25%;
        }

        @include mobile {
            width: 100%;
        }
    }

    .input-wrap-submit {
        max-width: 150px;
    }

    button[type="submit"] {
        width: 100%;
    }
}