#map {
    .map-property-popup {
        max-width: 350px;
        display: flex;
        align-items: center;

        @include tablet {
            flex-flow: column;
        }

        a.image {
            display: block;
            height: 110px;
            margin-right: 10px;
            width: 110px;
            position: relative;
            overflow: hidden;
            margin-bottom: 0;
            border-radius: 3px;

            @include tablet {
                width: 100%;
                margin-bottom: 10px;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

        }

        a.overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .property-info {
            margin-bottom: 0;
            max-width: calc(100% - 120px);

            @include tablet {
                max-width: 100%;
            }


            h3 {
                font-size: 20px;
                margin-bottom: 3px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                @include tablet {
                    font-size: 18px;
                }
            }



            .the-address {
                margin-bottom: 7px;
                font-size: 14px;
                line-height: 1.2em;

                span {
                    margin-right: 0.2em;
                    display: inline;
                }

                span.city {
                    &:after {
                        content: ",";
                    }
                }
            }

            span.rentrange {
                display: block;
                font-size: 20px;
                line-height: 1em;
                font-weight: 500;
                margin-bottom: 0;

                @include tablet {
                    font-size: 16px;
                }
            }
        }

        .floorplan-info {
            border-top: 2px solid rgba($default, 0.15);
            padding-top: 10px;
            // display: flex;
            justify-content: space-between;
            color: $default;
            display: none;

            span {
                line-height: 28px;
                display: block;
                padding-left: 35px;
                position: relative;
                font-size: 16px;

                &:before {
                    content: "";
                    width: 28px;
                    height: 28px;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }

            span.bedsrange {
                &:before {
                    background-image: url('../images/beds-icon-gray.svg');

                }
            }

            span.bathsrange {
                &:before {
                    background-image: url('../images/baths-icon-gray.svg');

                }
            }

            span.sqftrange {
                &:before {
                    background-image: url('../images/sqft-icon-gray.svg');

                }
            }
        }
    }
}