ul.amenities {
    display: flex;
    flex-flow: row wrap;
    margin-left: 0;
    padding-left: 0;
    justify-content: space-between;

    li {
        width: 200px;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }
}