.floorplan {
    background-color: #F5F5F5;
    box-shadow: 0 5px 10px 0 rgba(black, 0.12);

    .floorplangrid__art-wrap {
        padding: 15px;
        background-color: white;
    }

    .floorplangrid__content {
        padding: 15px;

        > :last-child {
            margin-bottom: 0;
        }

        p.floorplangrid__info,
        p.floorplangrid__rent_range {
            margin-bottom: 5px;
        }
    }

    h3.floorplangrid__title {
        margin-bottom: 5px;
    }

    .floorplangrid__info {
        >span {
            display: inline-block;


            &:after {
                content: '\00b7';
                margin-left: 5px;
                margin-right: 5px;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .floorplangrid__rentrange {
        font-weight: bold;
    }

    .buttons {
        padding-top: 8px;
        width: calc(100% + 8px);
        margin-left: -4px;
        margin-right: -4px;

        @include mobile {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }

    .floorplangrid__button {
        padding: 8px 15px;
        // font-size: 14px;
        background-color: #111;
        color: white;
        text-decoration: none;
        transition: .3s all ease;
        border-radius: 3px;
        margin: 4px;

        @include mobile {
            display: block;
            width: 100%;
            text-align: center;
            margin: 4px 0;
        }

        &:hover {
            background-color: lighten(#111, 5%);
            text-decoration: none;
        }
    }
}