/* ==========================================================================
   Generic properties styles for use in other layouts
   ========================================================================== */

.properties-loop {
    .entry {
        background-color: white;
        position: relative;
    }

    .entry:hover {
        .overlay {
            box-shadow: 0 0 0 3px $dark;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 0 3px $light;
        transition: .3s all ease;
        z-index: 30;
    }

    h3 {
        margin-bottom: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .the-address,
    .admin-data {
        margin-bottom: 10px;
        font-size: 85%;
        line-height: 1.2em;

        span {
            margin-right: 0.2em;
            display: inline-block;
        }

        span.city {
            &:after {
                content: ",";
            }
        }
    }

    .admin-data {
        position: relative;
        z-index: 99;
        font-size: 14px;
    }


    .admin-data {
        padding: 10px 20px 20px;
        margin-bottom: 0;

        span {
            display: block;
        }
    }

    span.rentrange {
        display: block;
        font-size: 150%;
        line-height: 1em;

        // &:before {
        //     content: "$";
        // }
    }

    .property-content {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 20px;
        // height: 100%;
    }

    .property-info {
        margin-bottom: 10px;
    }

    .floorplan-info {
        // border-top: 2px solid rgba($default, 0.15);
        // padding-top: 5px;
        display: flex;
        justify-content: space-between;
        color: $default;

        span {
            line-height: 28px;
            display: block;
            padding-left: 35px;
            position: relative;
            font-size: 16px;

            &:before {
                content: "";
                width: 28px;
                height: 28px;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        span.bedsrange {
            &:before {
                background-image: url('../images/beds-icon-gray.svg');

            }
        }

        span.bathsrange {
            &:before {
                background-image: url('../images/baths-icon-gray.svg');

            }
        }

        span.sqftrange {
            &:before {
                background-image: url('../images/sqft-icon-gray.svg');

            }
        }

    }
}